# Compiled Object files
*.o
*.obj

# CMake
CMakeLists.txt.user

# Visual Studio Code
.vs/

# Visual Studio Code
.vscode/
*.code-workspace

# Mac OS
*.DS_Store

# Temporary files
output/
temp/